/* Variables */

:root {
  --main-text-color: #f8fafc;
  --grey-bg-color: #27272a;
}

/* General Classes */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  border: 0;
  color: var(--main-text-color);
  font-size: 2.4rem;
}

/* Regular CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  /* Avoid scrolling to whitespace */
  overflow: hidden;
  color: var(--main-text-color);
}

/* Buttons/Char Container */
main {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
}

.calculator-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 16.5px;

  padding: 35px 35px;
  border-radius: 50px;
  background-color: #000000ad;
}

.result {
  width: 100%;
  height: 8rem;
  margin-bottom: 1.5rem;

  grid-column: 1 / -1;

  border: 0;
  background-color: var(--grey-bg-color);
  border-radius: 15px;

  padding-left: 1.6rem;
  color: var(--main-text-color);
  font-size: 3.4rem;
}

/* Remove the styling generated when the user clicks the input */
.result:focus {
  outline: none;
}

.char-input {
  padding: 32px;
  border-radius: 19%;

  transition: 0.1s all;
}

.char--ac {
  padding: 31.8px 24px !important;
  background-color: rgba(220, 38, 38, 0.25);
}

.char--ac:hover {
  background-color: rgba(220, 38, 38, 0.5);
}

.char--number {
  background-color: var(--grey-bg-color);
}

.char--number:hover {
  background-color: rgb(82, 82, 91, 0.75);
}

.char--operator {
  background-color: rgba(245, 159, 11, 0.5);
}

.char--operator:hover {
  background-color: rgba(245, 159, 11, 0.8);
}

.char--equal {
  background-color: rgba(249, 116, 22, 0.5);
}

.char--equal:hover {
  background-color: rgba(249, 116, 22, 0.8);
}
